@media screen and (max-width: 800px) {
 .second-section {
    background: red;
  }
}
* {
  box-sizing: border-box;
  /* This box-sizing: border-box;rule will tell the page to ignore borders when calcuating the width, so that on the section part it does not add up the 3px of the border, otherwise the sections don't fit in side to side on the page */
}

header,
footer {
  height: 100px;
  /* border: 3px solid black; */
  clear: both;
}

.left-section {
  height: 600px;
  width: 33.3333%;
  border: 3px solid black;
  float: left;
}

.second-section {
  height: 600px;
  width: 33.3333%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  float: left;
}


.right-section {
 height: 600px;
width: 33.3333%;
  border: 3px solid black;
  float: left;
  
}
