* {
  background-color: rgb(67, 193, 235);
}
body{
  padding: 15px 15px 15px 15px;
  width: 90%;
  margin: 2em auto;
 }

h1{
    color: white;
}
.container {
  background-color: rgb(67, 193, 235);
  border: 15px solid green;
  border-width: 10px;
  position: relative;
  padding: 15px;
  height: 1400px;
}

header {
  text-align: center;
  height: 5%;
  /* background-color: white; */
  margin: 10px;
}

nav {
  text-align: center;
  height: 10%;
  /* background-color: white; */
  margin: 1em;
  padding: 10px;
}

section {
  /* height: 100%; */
  width: 65%;
  margin: 1em;
  float: left;
}

/* footer {
  height: 50px; the footer's total height
} */
footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 100px;
  text-align: center; /* height of the footer */
}

.footer a { 
  color: green;
}

span {
  color: green;
}